training-git-xapi/src/main/mule/training-git-xapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="00a16414-5dd1-4b1b-8de2-0b7cb2c200aa" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="training-git-xapiFlow" doc:id="64526c4d-70b2-4440-8b8f-e86a0a666e6b" >
		<http:listener doc:name="Listener" doc:id="334f7dfb-983e-4ab9-b923-4113796fb9eb" config-ref="HTTP_Listener_config" path="/test"/>
		<ee:transform doc:name="Transform Message" doc:id="2a216f85-f7c2-45d2-b3ca-1c853dd21d24" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"welcome " ++ payload.firstname ++ payload.lastname ++ ". Your mobile number is " ++ payload.mobile]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
